
<footer class="flex flex-col w-full h-10 top-full justify-center items-center pt-4">
    <span class="font-nexa text-white text-sm">© Copyright DVD Dabing. All rights reserved.</span>
    <span class="font-nexa text-white text-sm">Created by <a rel="stylesheet" href="index" class="text-gray-300">Vít Novotný.<a></span>
</footer>