
<div class="relative h-64">
    <div class="font-nexa text-4xl text-white absolute pl-24 pt-10 w-4/6">  
        <p class="bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-yellow-300 from-50% to-95%">Jsme poloprofesionální dabingová skupina s cílem navrátit dabing zpět do Brna</p>
    </div>
</div>