
<div class="relative">
    <div class="relative flex justify-center" >
        <img src="img/DVD_Logo_2560x1440.png" alt="Logo" width="1000" height="600">
    </div>
    <div class="relative font-nexa text-4xl text-white pl-24 pt-10 w-4/6">  
        <p class="bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-yellow-300 from-50% to-95%">Jsme poloprofesionální dabingová skupina s cílem navrátit dabing zpět do Brna</p>
    </div>
    <div class="h-20"></div>
</div>