---
import NavbarItem from "./navbar-item.astro"
---


<div class="bg-gray-800">
    <div class="flex space-x-4">
        <NavbarItem link="index" label="Home" />
        <NavbarItem link="about" label="About" />
        <NavbarItem link="contact" label="Contact" />
        <NavbarItem link="login" label="Home" />     
    </div>
</div>


