---
interface Props {
  link: string;
  label: string;
  selected: boolean;
}

let { link, label, selected } = Astro.props;

let showBorders: boolean = false;

link = '#'+link;

---

<div class:list={[ 'flex items-center', selected ? 'border-b-4 rounded': '' ]}>
  <div class:list={[ showBorders ? 'border-b-4 rounded' : '' ]}>  
    <a href={link} class="font-nexa text-white px-2 hover:text-red-500 transition ">{label}</a>
  </div>
</div>

